* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 70px;
  width: 100%;
  background-color: #ec715f;
}

header nav {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-items {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

header nav .nav-items .nav-item {
  padding-right: 30px;
  padding-left: 30px;
  list-style: none;
  line-height: 70px;
}

header nav .nav-items .nav-item .nav-link {
  font-size: 16px;
  color: #fafafa;
  padding: 0;
  text-decoration: none;
}

header nav .menu-btn {
  display: none;
}

main section {
  width: 100%;
}

main section p {
  word-break: normal;
}

main section:nth-of-type(even) {
  background-color: #eceff1;
}

main section .container {
  width: 920px;
  height: 870px;
  color: #000;
  margin: 0 auto;
  text-align: center;
}

main section .container .title {
  padding: 90px 0 8px;
  font-size: 32px;
}

main section .container hr {
  width: 70px;
  border-bottom: solid 3px #ec715f;
  margin: 0 auto;
}

main section .container .content {
  padding: 30px;
  font-size: 16px;
}

main section .container h3 {
  font-size: 20px;
}

main section:first-of-type {
  height: 650px;
  background-image: url("../img/mv.png");
  background-size: contain;
  background-position: bottom;
  color: #fafafa;
  text-align: center;
}

main section:first-of-type h1 {
  padding: 200px 0 10px;
  font-size: 64px;
  margin-bottom: 0;
}

main section:first-of-type p {
  font-size: 20px;
}

main section:nth-of-type(2) {
  width: 100%;
}

main section:nth-of-type(2) .big-box {
  width: 920px;
  height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

main section:nth-of-type(2) .big-box .box {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: top;
}

main section:nth-of-type(2) .big-box .box:first-of-type {
  background-image: url("../img/sketch.jpg");
}

main section:nth-of-type(2) .big-box .box:nth-of-type(2) {
  background-image: url("../img/websuku.png");
}

main section:nth-of-type(2) .big-box .box:nth-of-type(3) {
  background-image: url("../img/write.jpg");
}

main section:nth-of-type(2) .big-box .box:nth-of-type(4) {
  background-image: url("../img/webcamp.png");
}

main section:nth-of-type(2) .big-box .box:nth-of-type(5) {
  background-image: url("../img/talk.jpg");
}

main section:nth-of-type(2) .big-box .box:last-of-type {
  background-image: url("../img/webcamp-mother.png");
}

main section:nth-last-of-type(3) .container {
  width: 980px;
  height: auto;
  padding-bottom: 90px;
}

main section:nth-last-of-type(3) .container .bottom-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section:nth-last-of-type(3) .container .bottom-contents .contents {
  width: 320px;
  margin-right: 10px;
}

main section:nth-last-of-type(3) .container .bottom-contents .contents h3 {
  margin: 10px 0 10px;
}

main section:nth-last-of-type(3) .container .bottom-contents .contents .content {
  text-align: start;
  padding: 0;
  width: 320px;
}

main section:nth-last-of-type(3) .container .bottom-contents .contents i {
  font-size: 60px;
}

main section:nth-of-type(4) .container {
  width: 1024px;
  height: auto;
  padding-bottom: 90px;
}

main section:nth-of-type(4) .container .bottom-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section:nth-of-type(4) .container .bottom-contents .left-contents {
  width: 512px;
}

main section:nth-of-type(4) .container .bottom-contents .left-contents .image {
  background-image: url("../img/my-icon.jpg");
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 30px auto;
}

main section:nth-of-type(4) .container .bottom-contents .right-contents {
  width: 512px;
  text-align: start;
}

main section:nth-of-type(4) .container .bottom-contents .right-contents h3 {
  margin-bottom: 5px;
}

main section:nth-of-type(4) .container .bottom-contents .right-contents h3:last-of-type {
  margin-top: 20px;
}

main section:last-of-type .container {
  width: 800px;
  height: auto;
  padding-bottom: 50px;
}

main section:last-of-type .container .bottom-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section:last-of-type .container .bottom-contents .left-contents {
  width: 400px;
  text-align: center;
}

main section:last-of-type .container .bottom-contents .left-contents .contact-info {
  display: inline-block;
  text-align: left;
}

main section:last-of-type .container .bottom-contents .left-contents .contact-info h3 {
  margin-bottom: 5px;
}

main section:last-of-type .container .bottom-contents .left-contents .contact-info a {
  color: #000;
}

main section:last-of-type .container .bottom-contents .left-contents .contact-info a:first-of-type {
  margin-bottom: 20px;
}

main section:last-of-type .container .bottom-contents .right-contents {
  width: 400px;
}

main section:last-of-type .container .bottom-contents .right-contents .sns {
  display: inline-block;
  text-align: left;
}

main section:last-of-type .container .bottom-contents .right-contents .sns h3 {
  margin-bottom: 5px;
}

main section:last-of-type .container .bottom-contents .right-contents .sns i {
  font-size: 50px;
  margin: 5px 20px 0 0;
}

footer {
  background-color: #ec715f;
  height: 60px;
  text-align: center;
}

footer small {
  color: #fafafa;
  font-size: 16px;
  line-height: 60px;
}

@media screen and (max-width: 767px) {
  header {
    height: 50px;
  }
  header nav {
    width: 90%;
    height: 50px;
    position: relative;
  }
  header nav .logo img {
    height: 50px;
  }
  header nav .nav-items {
    display: none;
  }
  header nav .menu-btn {
    position: absolute;
    top: 5px;
    right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 90;
    background-color: #ec715f;
    border: 1px solid #fff;
  }
  header nav .menu-btn span,
  header nav .menu-btn span:before,
  header nav .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  header nav .menu-btn span:before {
    bottom: 8px;
  }
  header nav .menu-btn span:after {
    top: 8px;
  }
  main section:first-of-type {
    background-image: url("../img/code.png");
    background-size: cover;
  }
  main section:first-of-type h1 {
    font-size: 40px;
  }
  main section:first-of-type p {
    font-size: 18px;
  }
  main section .container {
    width: 90%;
  }
  main section .container .content {
    padding: 30px 0;
  }
  main section:nth-of-type(2) .container {
    height: auto;
    padding-bottom: 90px;
  }
  main section:nth-of-type(2) .big-box {
    width: 90%;
    height: auto;
    display: block;
  }
  main section:nth-of-type(2) .big-box .box:nth-of-type(odd) {
    display: none;
  }
  main section:nth-of-type(2) .big-box .box:nth-of-type(even) {
    margin: 10px auto;
  }
  main section:nth-of-type(3) .container {
    width: 90%;
  }
  main section:nth-of-type(3) .container .bottom-contents {
    display: block;
  }
  main section:nth-of-type(3) .container .bottom-contents .contents {
    margin: auto;
    width: 100%;
  }
  main section:nth-of-type(3) .container .bottom-contents .contents .content {
    margin: 0 auto 10px;
    width: 100%;
    text-align: left;
  }
  main section:nth-of-type(3) .container .bottom-contents .contents:last-of-type .content {
    margin-bottom: 0;
  }
  main section:nth-of-type(4) .container {
    width: 90%;
  }
  main section:nth-of-type(4) .container .bottom-contents {
    display: block;
  }
  main section:nth-of-type(4) .container .bottom-contents .left-contents {
    margin: 0 auto;
  }
  main section:nth-of-type(4) .container .bottom-contents .left-contents .image {
    margin: 0 auto 20px;
  }
  main section:nth-of-type(4) .container .bottom-contents .right-contents {
    width: 100%;
    text-align: center;
  }
  main section:nth-of-type(4) .container .bottom-contents .right-contents h3,
  main section:nth-of-type(4) .container .bottom-contents .right-contents p {
    width: 100%;
  }
  main section:last-of-type .container {
    width: 90%;
    padding-bottom: 90px;
  }
  main section:last-of-type .container .bottom-contents {
    display: block;
  }
  main section:last-of-type .container .bottom-contents .left-contents {
    width: 100%;
  }
  main section:last-of-type .container .bottom-contents .left-contents .contact-info {
    display: block;
    text-align: center;
  }
  main section:last-of-type .container .bottom-contents .left-contents .contact-info h3:last-of-type {
    margin-top: 20px;
  }
  main section:last-of-type .container .bottom-contents .right-contents {
    width: 100%;
    margin-top: 20px;
  }
  main section:last-of-type .container .bottom-contents .right-contents .sns h3 {
    text-align: center;
  }
  main section:last-of-type .container .bottom-contents .right-contents .sns i {
    margin-right: 8px;
  }
}
/*# sourceMappingURL=style.css.map */